
<h1>Productos</h1>
<table id="main">
  <tr>
    <th><b>Title</b></th>
    <th><b>Description</b></th>
    <th><b>Code</b></th>
    <th><b>Price</b></th>
    <th><b>Status</b></th>
    <th><b>Stock</b></th>
    <th><b>Category</b></th>
    <th><b>Agregar al carrito</b></th>
  </tr>
  {{#each payload}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.code}}</td>
      <td>{{this.price}}</td>
      <td>{{this.status}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
      <td><button id="button">Agregar</button></td>
    </tr>
  {{/each}}
</table>



<p>Pagina actual: {{page}}</p>
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}} disabled {{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}} disabled {{/unless}}>Siguiente</a>
